/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

#introduction, #skills, #contact {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Center text within sections */
}

#introduction h2, #skills h2 {
    margin-bottom: 20px; /* Add some space below headings */
}

#skills-icons {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
    margin: 0; /* Remove default list margin */
    padding: 0; /* Remove default list padding */
}

#skills-icons li {
    margin: 0 10px; /* Adjust spacing between icons */
    transition: transform 0.3s ease; /* Add transition effect */
}

#skills-icons li img {
    width: 64px;
    height: 64px;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    box-sizing: border-box;
}

#contact h2 {
    margin-bottom: 10px;
}

#contact-icons {
    display: flex;
    justify-content: center;
}

#contact-icons a {
    margin: 0 20px;
}

#contact-icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#contact-icons a:hover {
    opacity: 0.7;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    #introduction, #skills, #contact {
        padding: 10px;
    }

    #skills-icons li {
        margin: 0 5px; /* Adjust spacing between icons for smaller screens */
    }

    #contact-icons a {
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}
